@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;500&display=swap");

body {
  font-family: "Encode", sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  text-transform: capitalize;
  margin: 0;
}

h3 {
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.4), -30px 0px 40px rgba(0, 0, 0, 0.3);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 50vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #333;
}

#landing-image {
  background: url("../images/img1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #888;
  transition: background 500ms ease-in;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background: #f4f4f4;
  font-weight: bold;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #888;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  margin-bottom: 1em;
  margin-top: -100px;
  text-align: center;
  background: rgba(0, 0, 0, 2.39);
  opacity: 0.6;
  padding: 2px;
  color: #fff;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

.new-h3 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #333;
}

/* Screen 500px and Up */

@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }
  #landing-text {
    height: 100vh;
  }
  #landing-image {
    height: 100vh;
  }
  .caption p {
    padding: 10px;
  }
}

/* Screen size 700px and up*/

@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
